/*个人信息在README.md*/

p.title {
	text-align: center;
	font-family: sans-serif;
}

p.title:nth-child(1) {
	margin-top: 30px;
	font-size: 20pt;
}

p.title:nth-child(2) {
	font-size: 15pt;
}

#main {
	/*border: 1px solid black;*/
	width: 330px;
	height: 300px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#record div {
	border: 1px solid grey;
	width: 160px;
	padding-left: 4px;
	padding-right: 4px;
}

#time {
	position: absolute;
	left: 240px;
	top: -16px;
}

#time input{
	width: 40px;
}

#mode {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 120px;
}

#score {
	position: absolute;
	left: 240px;
	top: 13px;
}

#score input {
	width: 40px;
}

#ground {
	position: absolute;
	border: 1px solid black;
	top: 100px;
	width: 100%;
	height: 200px;
	border-left: 0;
	border-right: 0;
}

.hole {
	border: 0.5px solid grey;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 8px;
	border-radius: 50%;
}

.mouse {
	border: 4px solid #02f2f2;
	width:8px;
	height:8px;	
	display: inline-block;
	margin: 8px;
	border-radius: 50%;
}

#end p:nth-child(1) {
	font-weight: bold;
}

#end {
	margin-top: 50px;
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}